body {
    --tags-border-color: rgba(100, 100, 100, .22);
}
.vscode-dark {
    --tags-border-color: rgba(128, 128, 128, .40);
}
.tag-value {
    margin: 14px 0;
    font-size: 18px;
    text-align: center;
    color: var(--vscode-descriptionForeground);
}
.tags-wrap .tags-form {
    display: block;
}
.tags-label {
    margin: 10px 0;
    color: var(--vscode-descriptionForeground);
}
.tags-checkbox {
    display: flex;
    margin: 10px 0;
    align-items: start;
}
.tags-checkbox input {
    margin: 3px 6px 0 0;
    cursor: pointer;
}
.tags-checkbox label {
    cursor: pointer;
    user-select: none;
    color: var(--vscode-descriptionForeground);
}
.tags-btn {
    margin-bottom: 30px;
}
.tags-btn:disabled {
    cursor: not-allowed;
}